<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <meta charset="UTF-8">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body ng-app="photoStore">
    <div class="container">
        <ng-include src="'views/navbar.html'"></ng-include>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
    <script src="javascripts/angular/angular.js"></script>
    <script src="javascripts/angular/angular-route.js"></script>
    <script src="javascripts/angular/angularApp.js"></script>
    <script src="javascripts/angular/controllers/authController.js"></script>
    <script src="javascripts/angular/services/auth.js"></script>
    <script src="javascripts/angular/controllers/catalogueController.js"></script>
    <script src="javascripts/angular/controllers/navController.js"></script>
    <script src="javascripts/angular/controllers/accountController.js"></script>
</body>

</html>
